# DH - Data Science - Grupo 6.

Integrantes:

*    José Roberto Canales Delgado
*    Luciana Sande
*    Bianca Somadossi
*    Verónica del Río

## Desafío 3

In [2]:
# initial setup
%run "common/0_notebooks_base_setup.py"

C:\Users\Lu\Lu\Digital House\grupo_6\DH_grupo_6common
default checking
Running command `conda list`... ok
jupyterlab=2.2.6 already installed
Running command `conda install --yes pandas=1.1.5`... ok
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


bokeh=2.2.3 already installed
seaborn=0.11.0 already installed
matplotlib=3.3.2 already installed
ipywidgets=7.5.1 already installed
Running command `conda install --yes pytest=6.2.1`... ok
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


chardet=4.0.0 already installed
psutil=5.7.2 already installed
Running command `conda install --yes scipy=1.5.2`... ok
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


statsmodels=0.12.1 already installed
Running command `conda install --yes scikit-learn=0.23.2`... ok
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


xlrd=2.0.1 already installed
Running command `conda install --yes nltk=3.5.0`... ok
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


unidecode=1.1.1 already installed
pydotplus=2.0.2 already installed
pandas-datareader=0.9.0 already installed
flask=1.1.2 already installed

In [2]:
#importamos de todas las librerías que vamos a utilizar

import numpy as np
import pandas as pd
import seaborn as sns

import matplotlib.pyplot as plt

get_ipython().run_line_magic('matplotlib','inline')

import os
import itertools

#Scale-data
from sklearn.preprocessing import StandardScaler
#Over-sample data
from imblearn.over_sampling import SMOTE

#Clasifiers
from sklearn.neural_network import MLPClassifier
from sklearn.naive_bayes import BernoulliNB

#Cross-validation
import sklearn.model_selection #chequear por las dudas qué pasa con el import de GridSeachCV
from sklearn.model_selection import cross_val_score

#Split data in test & train
from sklearn.model_selection import train_test_split

#Get metrics
from  sklearn.metrics import accuracy_score, f1_score, precision_score, roc_auc_score, recall_score, confusion_matrix, make_scorer

%matplotlib inline

In [5]:
pd.options.display.float_format='{:,.2f}'.format

In [8]:
#Importatemos el dataset original de Properatti, creando un Dataframe.

data_location = "Data/creditcard.csv"

df = pd.read_csv(data_location, sep=",", encoding="UTF-8")

In [9]:
df.shape

(284807, 31)

In [11]:
df.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

In [13]:
df.info

<bound method DataFrame.info of              Time     V1    V2    V3    V4    V5    V6    V7    V8    V9  ...  \
0            0.00  -1.36 -0.07  2.54  1.38 -0.34  0.46  0.24  0.10  0.36  ...
1            0.00   1.19  0.27  0.17  0.45  0.06 -0.08 -0.08  0.09 -0.26  ...
2            1.00  -1.36 -1.34  1.77  0.38 -0.50  1.80  0.79  0.25 -1.51  ...
3            1.00  -0.97 -0.19  1.79 -0.86 -0.01  1.25  0.24  0.38 -1.39  ...
4            2.00  -1.16  0.88  1.55  0.40 -0.41  0.10  0.59 -0.27  0.82  ...
...           ...    ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
284802 172,786.00 -11.88 10.07 -9.83 -2.07 -5.36 -2.61 -4.92  7.31  1.91  ...
284803 172,787.00  -0.73 -0.06  2.04 -0.74  0.87  1.06  0.02  0.29  0.58  ...
284804 172,788.00   1.92 -0.30 -3.25 -0.56  2.63  3.03 -0.30  0.71  0.43  ...
284805 172,788.00  -0.24  0.53  0.70  0.69 -0.38  0.62 -0.69  0.68  0.39  ...
284806 172,792.00  -0.53 -0.19  0.70 -0.51 -0.01 -0.65  1.58 -0.41  0.49  ...

         V21   V22   V23   V24   V25   V26   V27   V28  Amount  Class
0      -0.02  0.28 -0.11  0.07  0.13 -0.19  0.13 -0.02  149.62      0
1      -0.23 -0.64  0.10 -0.34  0.17  0.13 -0.01  0.01    2.69      0
2       0.25  0.77  0.91 -0.69 -0.33 -0.14 -0.06 -0.06  378.66      0
3      -0.11  0.01 -0.19 -1.18  0.65 -0.22  0.06  0.06  123.50      0
4      -0.01  0.80 -0.14  0.14 -0.21  0.50  0.22  0.22   69.99      0
...      ...   ...   ...   ...   ...   ...   ...   ...     ...    ...
284802  0.21  0.11  1.01 -0.51  1.44  0.25  0.94  0.82    0.77      0
284803  0.21  0.92  0.01 -1.02 -0.61 -0.40  0.07 -0.05   24.79      0
284804  0.23  0.58 -0.04  0.64  0.27 -0.09  0.00 -0.03   67.88      0
284805  0.27  0.80 -0.16  0.12 -0.57  0.55  0.11  0.10   10.00      0
284806  0.26  0.64  0.38  0.01 -0.47 -0.82 -0.00  0.01  217.00      0

[284807 rows x 31 columns]>

In [12]:
df.head(6)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.00,-1.36,-0.07,2.54,1.38,-0.34,0.46,0.24,0.10,0.36,...,-0.02,0.28,-0.11,0.07,0.13,-0.19,0.13,-0.02,149.62,0
1,0.00,1.19,0.27,0.17,0.45,0.06,-0.08,-0.08,0.09,-0.26,...,-0.23,-0.64,0.10,-0.34,0.17,0.13,-0.01,0.01,2.69,0
2,1.00,-1.36,-1.34,1.77,0.38,-0.50,1.80,0.79,0.25,-1.51,...,0.25,0.77,0.91,-0.69,-0.33,-0.14,-0.06,-0.06,378.66,0
3,1.00,-0.97,-0.19,1.79,-0.86,-0.01,1.25,0.24,0.38,-1.39,...,-0.11,0.01,-0.19,-1.18,0.65,-0.22,0.06,0.06,123.50,0
4,2.00,-1.16,0.88,1.55,0.40,-0.41,0.10,0.59,-0.27,0.82,...,-0.01,0.80,-0.14,0.14,-0.21,0.50,0.22,0.22,69.99,0
5,2.00,-0.43,0.96,1.14,-0.17,0.42,-0.03,0.48,0.26,-0.57,...,-0.21,-0.56,-0.03,-0.37,-0.23,0.11,0.25,0.08,3.67,0